<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/styles.css">
    <title>User Authentication Test</title>
</head>
<body>
    <div>
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/posts">Posts</a>
        <a id="login_btn" href="http://localhost:8080/login">Login</a>
        <a id="signup_btn" href="http://localhost:8080/signup">Signup</a>
    </div>
    <br>
    <h1>Log In</h1>

    <form id="login_form">                    
        <label for="username">Username</label><br>
        <input type="text" id="username_input" name="username" value=""><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password_input" name="password" value=""><br><br>
        <input class="submit-btn" type="submit" value="Login">
        <p id="message"></p>
        <div>
            <a href="http://localhost:8080/forgotPassword">Forgot Password</a>
        </div> 
    </form>
    
    <script>
    const form = document.getElementById("login_form");
    const message = document.getElementById("message");
    
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        const usernameString = document.getElementById("username_input").value;
        const passwordString = document.getElementById("password_input").value;
        
        var auth = {
            username: usernameString,
            password: passwordString
        }

        var authJson = JSON.stringify(auth);

        fetch("http://localhost:8080/api/auth/authenticate", {
            method: "post",
            headers: {
                'Content-Type': 'application/json'
            },                      
            body: authJson    
        }).then(response => {
            if (response.ok) {
                response.json().then(data => {                    
                    localStorage.setItem('jwt', data.token);                    
                    window.location.href = "http://localhost:8080/";                  
                });
            } else {
                message.innerHTML = "Invalid credentials";                
            }
        });         
    });
    </script>

</body>
</html>